* {
    margin: 0;
    padding: 0;
    ;
}

@font-face {
    font-family: Trebuchet;
    src: url(../trebuchet-ms.ttf)
}

body {
    font-family: Trebuchet;
}

.imagens {
    background: url(../imagens/fundoslide.png) no-repeat center;
    background-size: cover;
}

#navegador {
    height: 7em;
}

#imagens ul {
    list-style: none;
}

#pag a {
    font-size: 100px;
    text-decoration: none;
}

ul li a:hover {
    border-bottom: 2px solid #c21919;
}

#ativo {
    border-bottom: 2px solid #c21919;
}

.serviços {
    background: url(../imagens/movel1.png) no-repeat;
    background-size: cover;
    background-attachment: fixed !important;
    height: 35em;
}

.sobre {
    height: 35em;
}

@media (max-width: 600px) {
    div li a {
        font-size: 11px;
        margin-right: -5px;
    }
    .serviços {
        height: 35em;
    }
    #navegador {
        height: 5em;
    }
    .sobre {
        height: 45em;
    }
}

.imagemgaleria {
    border-radius: 5px;
}

.divgaleria img:hover {
    opacity: 0.7;
}

.linkgaleria a {
    text-decoration: none;
}

#galeriaativa {
    color: darkred;
}

.divfundo {
    background: url(../imagens/movel1.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed !important;
}

.contato1 {
    height: 35em;
    background: url(../imagens/movel1.png) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.contato2 {
    height: 35em;
}

.contato3 {
    height: 19em;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 10px;
}

.traco {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.linkme {
    cursor: pointer;
    text-decoration: none;
}

.imaarques {
    margin: 0 auto;
}

.desenvolvidopor {
    color: white;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 1px;
    font-size: 11px;
}