    html,
    body {
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }
    
    .header-imagem {
        height: 25em;
        background: url(../imagem/imagem-banco.png) no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    .conteudo-titulo {
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    
    .conteudo-titulo span.titulo {
        color: #fff;
        background-color: #111;
        padding: 10px;
        font-size: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    .conteudo-titulo a:hover {
        text-decoration: underline goldenrod;
    }
    
    .titulo1 {
        margin-top: 6em;
    }
    
    .caixa {
        background-color: #1f1f1f;
        padding: 60px 0px;
    }
    
    .caixa2 {
        padding: 60px 0px;
        background-color: #f1f1f1;
    }
    
    .titulofooter {
        color: #795600;
    }
    
    
    @media (max-width: 668px) {
        .mensagem {
            display: none;
        }
        .dmao {
            text-align: center;
        }
    }
    
    @media (min-width: 1000px) {
        .botao {
            display: none;
        }
    }
    
    @media (max-width: 762px) {
        .logo {
            width: 150px;
        }
        .botao {
            width: 100px;
            text-align: right;
            padding-right: 0px;
        }
        #cartao {
            margin-left: -5px;
        }
        .divmargem {
            margin-bottom: 15px;
        }
    }
    
    @media (max-width: 962px) {
        .item-nav:hover {
            padding-left: 7px;
        }
    }